# React
node_modules/
build/
dist/
.env*
npm-debug.log*

# .NET
bin/
obj/
.vs/
*.user
*.suo
Smart Trade Journal/SmartTradeJournal.API/appsettings.Development.json
Smart Trade Journal/SmartTradeJournal.API/appsettings.json
# Common
.DS_Store
.vscode/
.idea/